@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     font-family: 'M PLUS Rounded 1c', sans-serif;
}

:root {
     --color-primary: #1d1d1d;
     --color-secondary: #0077ff;
     --color-washed: #121212;
}